/* Estilos básicos para las casillas */
.tile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  //border: 2px solid #000;
  width: 120px;
  height: 120px;
  margin: 0px;
  cursor: pointer;
/*
  transform: scale(1) skewY(-15deg);
    .map-grid {
      display: flex;
      flex-wrap: wrap;
      transform: rotateX( 0deg);
      margin: -25px 0;
    }

    .map-row {
      display: flex;
      margin-left: 50px;
    }
  background-size: cover;
  background-position: center;

  /* Overlay para diferentes tipos de terreno */
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    z-index: 1;
  }



  /* Estados de selección */
  &.tile-highlighted {
    border: 2px solid #ff8c00; // Naranja para casilla seleccionada
    box-shadow: 0 0 10px rgba(255, 140, 0, 0.7);
    z-index: 25;
  }

  &.tile-path {
    border: 3px solid green;
    z-index: 9;
  }

  &.tile-unit-selected {
    border: 3px solid orange;
    z-index: 11;
  }

  &.tile-with-unit {
    border: 2px solid #ffff00; // Amarillo para casillas con unidades
    box-shadow: 0 0 5px rgba(255, 255, 0, 0.5);
    z-index: 20;
  }

  &.tile-unexplored {
    &::before {
      background-color: #000;
      opacity: 0.9;
    }
  }

  &.tile-explored-not-visible {
    &::before {
      opacity: 0.6;
      background-color: rgba(0, 0, 0, 0.3);
    }
    filter: grayscale(0.5);
  }

  &.tile-movable {
    border: 2px solid #4287f5; // Azul para casillas a las que se puede mover
    box-shadow: 0 0 8px rgba(66, 135, 245, 0.6);
    z-index: 8;
  }

/* Características adicionales */
&.water {
  background-color: aqua;
  background-image: url('/assets/images/tiles/water.png');
}
&.waterocean {
  background-color: blue;
  background-image: url('/assets/images/tiles/waterocean.png');
}
&.grassland {
  background-color: green;
  background-image: url('/assets/images/tiles/grassland.jpg');

}
&.plains {
  background-color: yellowgreen;
  background-image: url('/assets/images/tiles/plains.png');

}
&.desert {
  background-color: orange;
  background-image: url('/assets/images/tiles/desert.png');

}
&.rocky {
  background-color: grey;
  background-image: url('/assets/images/tiles/rocky.png');
}
&.snow {
  background-color: white;
  background-image: url('/assets/images/tiles/snow.png');
}

&.coast_top {
  background-image: url('/assets/images/tiles/coast11.png');
}

&.coast_right {
  background-image: url('/assets/images/tiles/coast12.png');
}

&.coast_down {
  background-image: url('/assets/images/tiles/coast13.png');
  background-color: black;
}

&.coast_left {
  background-image: url('/assets/images/tiles/coast14.png');
}

&.coast15 {
  background-image: url('/assets/images/tiles/coast15.png');
}

&.coast16 {
  background-image: url('/assets/images/tiles/coast16.png');
}

&.coast17 {
  background-image: url('/assets/images/tiles/coast17.png');
}

&.coast18 {
  background-image: url('/assets/images/tiles/coast18.png');
}

&.coast19 {
  background-image: url('/assets/images/tiles/coast19.png');
}
&.coast20 {
  background-image: url('/assets/images/tiles/coast20.png');
}
&.coast21 {
  background-image: url('/assets/images/tiles/coast21.png');
}
&.coast22 {
  background-image: url('/assets/images/tiles/coast22.png');
}
&.coast23 {
  background-image: url('/assets/images/tiles/coast23.png');
}
&.coast24 {
  background-image: url('/assets/images/tiles/coast24.png');
}
&.coast25 {
  background-image: url('/assets/images/tiles/coast25.png');
}
&.coast26 {
  background-image: url('/assets/images/tiles/coast26.png');
}
&.coast27 {
  background-image: url('/assets/images/tiles/coast27.png');
}
&.coast28 {
  background-image: url('/assets/images/tiles/coast28.png');
}
&.coast29 {
  background-image: url('/assets/images/tiles/coast29.png');
}
&.coast30 {
  background-image: url('/assets/images/tiles/coast30.png');
}
&.coast31 {
  background-image: url('/assets/images/tiles/coast31.png');
}
&.coast32 {
  background-image: url('/assets/images/tiles/coast32.png');
}
&.coast33 {
  background-image: url('/assets/images/tiles/coast33.png');
}
&.coast34 {
  background-image: url('/assets/images/tiles/coast34.png');
}




  &.settler::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/units/settler.png'); // Añadida imagen del settler
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none; /* Ensure it doesn't block interactions */
  }
  &.warrior::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none; /* Ensure it doesn't block interactions */
    background-image: url('/assets/images/units/warrior_lvl1.png'); /* Your PNG image */
  }
  &.city::after {
      content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none; /* Ensure it doesn't block interactions */
    background-image: url('/assets/images/cities/settlement.png'); /* Your PNG image */
  }

  &.forest::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none; /* Ensure it doesn't block interactions */
    background-image: url('/assets/images/features/forest.png'); /* Your PNG image */
  }
  &.jungle::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none; /* Ensure it doesn't block interactions */
    background-image: url('/assets/images/features/jungle.png'); /* Your PNG image */
  }
  &.oasis::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none; /* Ensure it doesn't block interactions */
    background-image: url('/assets/images/features/oasis.png'); /* Your PNG image */
  }
  &.mountain::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none; /* Ensure it doesn't block interactions */
    background-image: url('/assets/images/features/mountain.png'); /* Your PNG image */
  }

  &.unit-icon::after {
    content: none; // Evita que se genere contenido adicional
  }
}

.feature-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  //border: 2px solid #000;
  width: 100px;
  height: 100px;
  margin: 0px;
  cursor: pointer;
  &.city {
    background-color: #ffcc00;
    background-image: url('/assets/images/cities/settlement1.png');
    background-size: cover;
    background-position: center;
    z-index: 10;
  }
}
/* Elementos dentro de la casilla */
.debug-coords {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 8px;
  //color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1px 2px;
  border-color: white;
  radius: 2px;
  z-index: 3;
}

/* Características y recursos */
//color: white;
.feature-image, .resource-image {
  position: absolute;
  top: 50%;
//color: white;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  font-size: 18px; // Más pequeño
  text-align: center;
  z-index: 2;
  opacity: 0.7;    // Más translúcido
  pointer-events: none;
  background: none;

/* Niebla de guerra */
.fog-of-war {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 5;
}

.fog-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

    /* Estados de la casilla */
    .selected { border: 2px solid red; }
    .path-tile { border: 2px dashed #ecd613; }
    .has-unit { position: relative; }
    .unit-can-move { border: 2px solid yellow; }
    .unexplored { background-color: #1a1a1a; }

    /* Indicadores de unidades */
    .unit-indicator {
      position: absolute;
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
      z-index: 10;
      border: 2px solid #333;
      font-size: 14px;
    }

    .settler-unit {
      background-image: url('/assets/images/units/settler_lvl1.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 80%;
      height: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
    }

    /* Indicador de ciudad */
    .city-indicator {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      z-index: 20;
      cursor: pointer;
    }

    /* Coordenadas para depuración */
    .coordinates {
      position: absolute;
      bottom: 2px;
      right: 2px;
      font-size: 8px;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 1px 2px;
      border-radius: 2px;
      z-index: 5;
    }
  }
