<div class="tile" [ngClass]="getTileClasses()" (click)="onClick()" (keydown)="onKeyDown($event)">
  <div class="tile-feature"></div>
  @if (hasUnit) {
  <div class="unit-indicator" [ngClass]="direction">
    {{ getUnitSymbol() }}
  </div>
  }

  <!-- Indicador de progreso de construcción -->
  <div *ngIf="isConstructionInProgress()" class="construction-progress-indicator">
    <div class="construction-progress-bar">
      <div class="construction-progress" [style.width.%]="getConstructionProgress()"></div>
    </div>
  </div>

  <!-- Coordenadas para depuración
  <div class="debug-coords" *ngIf="tile.isExplored">{{tile.x}},{{tile.y}}</div>-->

  <!-- Características adicionales usando emojis -->
  <div *ngIf="tile.isVisible"
    class="feature-image feature-{{tile.featureType}}" [style.opacity]="tile.isVisible ? '1' : '0.7'"></div>

  <!-- Recursos con emojis -->
  <div *ngIf=" tile.isVisible && tile.resource" class="resource-image resource-{{tile.resource}}">
    <span *ngIf="isStrategicResource(tile.resource)">⚔️</span>
    <!--<span *ngIf="isFoodResource(tile.resource)">🍎</span>
    <span *ngIf="isLuxuryResource(tile.resource)">💎</span>-->
  </div>

  @if (tile.resource) {
  <!--<div class="resource-icon"
         [class.strategic]="isStrategicResource(tile.resource)"
         [class.food]="isFoodResource(tile.resource)"
         [class.luxury]="isLuxuryResource(tile.resource)">

    </div>-->
  }

  <!-- Mejoras de terreno -->
  <div *ngIf=" tile.isVisible && tile.building && tile.building !== 'none'"
    class="improvement-image improvement-{{tile.building}}">
    <span *ngIf="tile.building === 'farm'">🌾</span>
    <span *ngIf="tile.building === 'gold_mine'">⛏️</span>
    <span *ngIf="tile.building === 'road'"> </span>
    <span *ngIf="tile.building === 'port'">🚣</span>

  </div>

  <div *ngIf="!tile.isVisible" class="fog-of-war"></div>
  <div *ngIf="tile.isVisible && !tile.isVisible" class="fog-overlay"></div>
</div>
