<div class="worker-action-panel">
  <button class="worker-actions-close-btn" (click)="cancel()" title="Cerrar">&times;</button>
  <h3>Acciones del Trabajador</h3>

  <div class="worker-build-menu">
    <div class="buildings-grid">
      <button *ngFor="let option of availableImprovements" class="building-card" type="button"
        (mousedown)="buildImprovement(option.type)">
        <div class="building-icon">{{ option.icon }}</div>
        <div class="building-info">
          <h3 class="building-title"><strong>{{ option.name }}</strong> </h3>
          <p class="building-description">{{ option.description }}</p>
          <div class="build-turns">⏳ {{ option.turns }} turnos</div>
        </div>
        <div class="lock-icon" *ngIf="!option.canBuild" title="No disponible">
          <span>🔒</span>
        </div>
      </button>
    </div>
  </div>
  <!-- Eliminar características -->
  <div class="feature-section" *ngIf="canRemoveFeature && currentTile?.featureType">
    <h4>Eliminar características</h4>
    <ul class="feature-list">
      <li>
      </li>
    </ul>
  </div>
  <!-- Trabajo actual -->
  <div class="current-work" *ngIf="isWorkerBusy()">
    <p>{{ getCurrentWorkDescription() }}</p>
    <div class="progress-bar">
      <div class="progress" [style.width.%]="getProgressPercentage()"></div>
    </div>
  </div>

</div>